/* My Display size 1366*768. Worked on 90% screen size in chrome */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Shared Style */
nav .btn {
  background-color: #469165;
  border: none;
  width: 140px;
  padding: 10px 11px;
  border-radius: 4px;
  color: white;
}
nav .btn:hover {
  background-color: #037a33;
  color: white;
  cursor: pointer;
}
/* main style */
header {
  background-color: #ffffff;
}
nav {
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
}
nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 102px;
}
.logo-navbar {
  width: 119px;
}
nav .menu {
  list-style-type: none;
  display: flex;
  gap: 27px;
}

/* hero section */
.hero-container {
  width: 100%;
  max-width: 1600px;
  height: 576px;
  background: url("../assets/hero-bg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 102px;
}
.hero-badge {
  width: 195px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  padding: 7px 10px;
  gap: 5px;
}
.hero-badge img {
  height: 13px;
  width: 13px;
}
.hero-badge p {
  font-size: small;
  color: #469165;
}

.hero-title {
  width: 657px;
  height: 143px;
}
.hero-title span {
  font-weight: 600;
  line-height: 71px;
  font-size: 61px;
  color: white;
  display: block;
  text-align: center;
}

.hero-description span {
  font-size: 15px;
  font-weight: 300;
  color: white;
  text-align: center;
  line-height: 20px;
  display: block;
}

.hero-button {
  display: flex;
  align-items: center;
  gap: 13px;
}
.hero-btn1 {
  background-color: #469165;
  border: none;
  width: 214px;
  padding: 10px 11px;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hero-btn1:hover {
  background-color: #037a33;
  color: white;
  cursor: pointer;
}
.hero-btn2 {
  background-color: transparent;
  border: 1px solid white;
  width: 200px;
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hero-btn2:hover {
  color: #469165;
  cursor: pointer;
}

.feature-title h1 {
  font-weight: 600;
  font-size: 41px;
  text-align: center;
}
.feature-title p {
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  color: #627382;
}

/* feature section css */

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f95555;
  height: 51px;
  width: 51px;
  border-radius: 50%;
}
.card h3 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.card p {
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  color: #627382;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  height: 256px;
  width: 274px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.09);
}
.card-container {
  display: flex;
  gap: 20px;
}
.feature-container {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;
  height: 382px;
  padding: 40px 102px 102px;
}

/* solution section css */
.solution-container {
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  padding: 102px;
  gap: 80px;
}
.solution-image {
  height: 512px;
  width: 512px;
  object-fit: cover;
}
.solution-all-text {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.solution-text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.solution-text span {
  font-weight: 500;
  font-size: 13px;
  color: #469165;
}
.solution-text h2 {
  font-weight: 700;
  font-size: 40px;
}
.solution-text p {
  font-weight: 400;
  font-size: 13px;
  color: #627382;
}

.solution-icon-text {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.icon-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* challenge part css */
.challenge-container {
  width: 100%;
  max-width: 1600px;
}
.challenge-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 102px 102px 102px;
  background-color: #f7f6f2;
  padding: 68px 34px;
  gap: 20px;
}
.challenge-title {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.challenge-title h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.challenge-title p {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #627382;
}
.btn-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}
.btn-holder button {
  background-color: #469165;
  border: none;
  padding: 10px 13px;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.btn-holder button:hover {
  background-color: #037a33;
  color: white;
  cursor: pointer;
}
.btn-holder p {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #627382;
}

/* Footer CSS  */
.footer-container {
  height: 297px;
  width: 100%;
  max-width: 1600px;
  gap: 68px;
  background-color: #001931;
  display: flex;
  flex-direction: column;
  padding: 102px 102px 25px 102px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-content-logo {
  width: 118px;
  height: 51px;
}
.social-link {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.social-link span {
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: white;
}
.social-icon {
  display: flex;
  gap: 13px;
}
.copyright {
  text-align: center;
  color: #fafafa;
  border-top: 1px solid rgb(87, 83, 83);
  padding-top: 20px;
}
